@{
    ViewData["Title"] = "Principal";
}

<div>
    <h1 class="display-4">Página principal</h1>
<<<<<<< HEAD
    <p>YEEAAHH BUDDY!</p>
</div>
=======
    <p>YEEEAAAHHH BUDDY!</p>
</div>
>>>>>>> 9fb1a3e19cf458bceab93ed176fcd01269b5d828
