@{
    ViewBag.menuLateral = true;
}

<div class="Graficos">
    <h1>Página de gráficos</h1>
    <canvas id="graficoteste" style="width: 500px; height: 500px;"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/Graficos.js"></script>
</div>