@{
}

<div id="ClienteIndex">
    <header>
        <a role="button" class="btn btn-primary" asp-controller="Cliente" asp-action="Criar">Cadastrar cliente</a>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Arthur Morgan</td>
                <td>1337</td>
                <th>(11) 1337</th>
                <td>Arthur@email.com</td>
                <td>Fodase</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Arthur Morgan</td>
                <td>1337</td>
                <th>(11) 1337</th>
                <td>Arthur@email.com</td>
                <td>Fodase</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Arthur Morgan</td>
                <td>1337</td>
                <th>(11) 1337</th>
                <td>Arthur@email.com</td>
                <td>Fodase</td>
            </tr>
        </tbody>
    </table>
</div>