* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --cor-principal: #5c0099;
    --cor-principal-claro: #8a00e6;
}

button {
    background: none;
    border: none;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;

  width: 99vw;
  height: 100vh;

  margin-bottom: 60px;
}

main {
  display: flex;
  flex-direction: column;
  width: 99vw; /* Lembre-se que o main atualmente está dentro de uma div */
  height: 100%;
  align-items: center;
  padding-left: 140px;
}

/* Conteúdo do cabeçalho */
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 30px;
    padding: 0 15px;
    box-sizing: border-box;
}

.barraPesquisa {
    position: absolute;
    right: 32px;
    margin-bottom: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 8px;
    padding: 2px 6px;
    width: 282px;
}

header a {
    transition: 220ms;
    border-radius: 50px;
    padding: 0 8px;
}

header a:hover {
    color: inherit;
    background-color: #f0f0f0;
    /*border: 1px solid gray;*/
    /* box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3); */
}

.botaoVoltar {
    color: #808080;
    font-weight: 200;
    text-decoration: none;
}

.botaoCadastro::before {
    content: " + ";
    font-size: 1.3em;
    color: rebeccapurple;
}

.botaoCadastro {
    text-decoration: none;
    font-size: 1.1em;
    color: #363636;
    margin-bottom: 10px;
}

header .alocacaoBuscarPor {
    margin-bottom: 5px;
    height: 30px;
    width: 142px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid var(--cor-principal-claro);
    background-color: var(--cor-principal-claro);
    color: white;
    font-weight: bold;
    padding: 0;
    padding-left: 15px;
    cursor: pointer;
}

header .alocacaoBuscarPor {
    cursor: pointer;
}

header .pesquisa {
    display: flex;
    position: absolute;
    right: 32px;
}

.pesquisa .barraPesquisa {
    position: static;
    border-bottom-right-radius: 0px;
    border-top-right-radius:  0px;
}
/* ============== */
#barra-lateral {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    position: absolute;
    background-color: #5c0099;
    height: 100vh;
    width: 142px;
    flex-wrap: wrap;
    color: white;
    padding-top: 25px;
    justify-content: center;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.3);
}

#barra-lateral .title {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #7600c4;
    padding: 3px 0;
    padding-right: 12px;
    margin-bottom: 8px;
}


#barra-lateral a:hover {
  color: rgb(221, 221, 221);
}

#barra-lateral a {
  transition: 80ms;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0px;
}

#pagina-formulario {
    width: 100%;
    height: 100%;
}

#pagina-formulario form {
    padding-left: 75px;
}

/* Sessão Cliente */
#ClienteIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
}

#ClienteIndex table {
    width: 88%;
}

form input[type=text], form input[type=email], form input[type=date], form input[type=""number""] form select {
    width: 450px;
}

.configColuna {
    transition: 250ms;
    color: #919191;
    text-decoration: none;
    padding: 6px;
    border-radius: 12px;
}

.configColuna:hover {
    color: black;
    background-color: #e0e0e0;
}